<div class="board">
    <table class="mainTable" border>
        {% for row in grid %}
            <tr>
                {% for cell in row %}
                    <td width="50px" height="50px" class="{{ (cell == 'o') ? 'blue' : 'red' }}"><center>
                      <i class="fa {{ (cell == 'o') ? 'fa-circle-o' : '' }} {{ (cell == 'x') ? 'fa-times' : '' }}" aria-hidden="true"></i>
                    </center></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
